body {  background-color: #B0B0B0;
        margin: 0px;
        padding: 0px; }

p { color: #4C4636; 
    font-size: 1rem;
    line-height: 1.5rem;
    width: 70%; 
    font-family: Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 { font-family: 'Anton', sans-serif; }

h1 { color: white;
     font-size: 2rem;
     padding: 1rem 0rem 0rem 5rem;
     text-transform: uppercase;}

h2 { color: #33CCFF;
     font-size: 1rem; }

/*
header { background-color: gray; 
         padding: 2rem 1rem 1rem 1rem; }
*/

header { margin: 0rem;
         width: 100%; }

header nav { background-color: #33CCFF;
             width: 100%; 
             padding: .5rem .5rem .5rem 2rem; }

header nav ul { text-transform: uppercase;
                list-style: none; }

header nav ul li { display: inline;
                   padding: 1rem 1rem;
                   font-family: "Century Gothic", sans-serif;}

header nav ul a { color: black;
                  text-decoration: none; }

/*
header nav { background-color: #909090;
             margin: 2rem 1rem 1rem 1rem;}

header nav a { color: #202020;
               text-decoration: none; }

header nav a:hover { color: #909090;
                     text-decoration: none; }

header nav li { list-style: none; 
                float: left; 
                padding: 1rem;
                background-color: #909090; 
                font-family: sans-serif; }

header nav li:hover { list-style: none; 
                      float: left; 
                      padding: 1rem;
                      background-color: #202020; }
*/

nav.subnav { padding: 2rem 2rem 4rem 2rem;
             background-color: #B0B0B0; 
             width: 20%;
             float:left; }

nav.subnav a { color: #202020;
               text-decoration: none; }

nav.subnav a:hover { color: #909090;
                     text-decoration: none; }

nav.subnav li { list-style: none; 
                padding: 1rem; 
                font-family: "Century Gothic", sans-serif; }

nav.subnav li:hover { list-style: none; 
                      padding: 1rem;
                      background-color: #202020; }

section#project { float:left;
                  padding:1rem;
                  background-color: white; 
                  width: 65%;}

article.project { float: left;
                  padding: 2rem 0rem 0rem 2rem;
                  width: 30% }

article.project figure img { width: 90%; }

article.about { width: 100%;
                background-color: white;
                float: left; 
                margin: auto; 
                padding: 2rem; }

article.about figure img { width: 90%; }

article.about figure { text-align: center;
                       background-color: hsla(239, 6%, 50%, 0.35); 
                       padding: 1rem;
                       width: 30%; 
                       float: left; }

figcaption { font-size: 1rem; 
             font-family: 'Permanent Marker', cursive;
             color: #5F6163; }

article ul { color: #63615F;
             font-size: 16px;
             line-height: 2em;
             font-family: Helvetica, Arial, sans-serif;
             background-color: white; 
             padding: 1rem 1rem 1rem 1rem;
             width: 30%; 
             float: left;
             list-style: none;}

footer { clear:both; background-color: white; }

footer p { font-size: .75rem; 
           font-family: Georgia; serif;
           padding: 3rem 3rem 1rem 3em; }

.bullet { padding-right: 1rem; }